h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font__headings;
  font-weight: bold;
  line-height: $font__line-height-heading;
  letter-spacing: $font__letter-spacing-heading;  
  text-align: center;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.text-xxl {
  font-size: calc(#{$font__size-heading} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});
}

h1, .h1 {
  font-size: calc(#{$font__size-heading} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});
}

h2, .h2 {
  font-size: calc(#{$font__size-heading} * #{$text-scale-ratio} * #{$text-scale-ratio} * #{$text-scale-ratio});
}

h3, .h3 {
  font-size: calc(#{$font__size-heading} * #{$text-scale-ratio} * #{$text-scale-ratio});
}

h4, .h4 {
  font-size: calc(#{$font__size-heading} * #{$text-scale-ratio});
}

h5, .h5 {
  font-size: calc(#{$font__size-heading});
}

h6, .h6 {
  font-size: calc(#{$font__size-heading} / #{$text-scale-ratio});
}

h7, .h7 {
  font-size: calc(#{$font__size-heading} / #{$text-scale-ratio} / #{$text-scale-ratio});
}

@include media-breakpoint-down(lg) {
  .text-xxl,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
    font-family: $mobile__font__headings;
    font-weight: bold;
    line-height: $mobile__font__line-height-heading;
    letter-spacing: $mobile__font__letter-spacing-heading;  
    text-align: center;
    --tmp-size: var(--theme--mobile--font__size__heading, #{$font__size-heading});
  }

  .text-xxl {
    font-size: calc(var(--tmp-size) * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio});
  }

  h1, .h1 {
    font-size: calc(var(--tmp-size) * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio});
  }

  h2, .h2 {
    font-size: calc(var(--tmp-size) * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio});
  }

  h3, .h3 {
    font-size: calc(var(--tmp-size) * #{$mobile__text-scale-ratio} * #{$mobile__text-scale-ratio});
  }

  h4, .h4 {
    font-size: calc(var(--tmp-size) * #{$mobile__text-scale-ratio});
  }

  h5, .h5 {
    font-size: calc(var(--tmp-size));
  }

  h6, .h6 {
    font-size: calc(var(--tmp-size) / #{$mobile__text-scale-ratio});
  }

  h7, .h7 {
    font-size: calc(var(--tmp-size) / #{$mobile__text-scale-ratio} / #{$mobile__text-scale-ratio});
  }
}
