body,
optgroup,
textarea {
  color: $color__text-main;
  color: var(--text-color);
  font-family: $font__main;
  font-size: var(--theme--font__size, 1em);
  line-height: $font__line-height-body;
}

@import "headings";
@import "copy";

.text-heavy {
  color: var(--theme--color__heavy, black) !important;
}
