body,
optgroup,
textarea {
  color: $color__text-main;
  color: var(--text-color);
  font-family: $font__main;
  font-size: 1rem;
  line-height: $font__line-height-body;
}

@import "headings";
@import "copy";

.text-heavy {
  color: black;
  color: var(--theme--color__heavy) !important;
}
