body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
  -webkit-font-smoothing: antialiased;
}

#page.site {

}

#masthead, .masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color__background-header;
  background: var(--header-background-color);
  padding: .5rem 1rem;

  #site-navigation, .site-navigation {

    #primary-menu.nav-menu, .primary-menu.nav-menu, #primary-menu .nav-menu, .primary-menu .nav-menu {
      display: flex;
      justify-content: flex-end;
      margin-right: 0;
      margin-left: auto;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: center;
      }
      
      li {
        margin: 0 .25rem;

        a {
          @extend .btn;
          @extend .shadow-none;
          border: none;
        }

      }

      li.menu-item-action {
        a {
          @extend .shadow;
          box-shadow: var(--button-shadow) !important;          
          color: white;
          background-color: var(--button-color);
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {

  #masthead, .masthead {
    padding-top: 0;
    padding-bottom: 0;

    .menu-toggle {
      background: transparent;
      border: none;
      font-size: 30px;
      position: absolute;
      right: .5rem;
    }
    
    .main-menu-1-container {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease;

      &.shown {
        max-height: 100vh;
        overflow: scroll;
      }
    }
  }
}  

footer.masthead {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background: $primary;
  background-color: var(--theme--color__heavy);
  color: white;
  margin-top: 5rem;
  margin-bottom: -2rem;
  font-size: 1rem;
  
  #fec {
    border: 1px solid black;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
  }

  .site-navigation .primary-menu.nav-menu {
    justify-content: center;
  }
}

.social-icons svg path {
  fill: var(--button-color, white);
  transition: all .2s ease;
}
.social-icons svg:hover path {
  fill: var(--button-color__hover, black);
  transition: all .5s ease;
}
.disclaimer {
  max-width: 800px;
  width: 100%;
  margin: 2rem auto;
  border: 2px solid white;
  padding: 1rem;
  line-height: 1.2;
}

div.entry-content {
  margin: 0;
}
 
.custom-logo {
  height: 5rem;
  @extend .w-auto;
  @extend .mw-100;
}

.wp-block-columns.centered-columns .wp-block-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  > * {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

.wp-block-columns .wp-block-column .wp-block-group {
  height: 100%;
}



