.btn {
  text-transform: uppercase;
  font-family: $font__buttons;
  font-size: calc(#{$font__size-button} / #{$text-scale-ratio} / #{$text-scale-ratio});
  letter-spacing: $font__letter-spacing-button;
  line-height: $font__line-height-button;
  font-weight: bold;
  border-radius: var(--button-radius, 0);
  @extend .shadow;
  min-width: 100px;
}

.wp-block-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: .5em;
  justify-content: center;
  margin-left: -.75rem;
  margin-right: -.75rem;  
  
  .wp-block-button {

    margin-bottom: 1em;
    
    a.wp-block-button__link {
      @extend .btn;
      @extend .btn-secondary;

      background-color: var(--button-color);
      border-color: var(--button-color);
      color: var(--button-text-color);
    }
    
    margin-left: .75rem;
    margin-right: .75rem;
    
  }
}

.btn-tertiary {
  font-size: 1em;
  padding: ($input-btn-padding-y / 2) ($input-btn-padding-x / 2);
  background-color: $color__brand_tertiary;
  width: 100%;
}

