.btn {
  text-transform: uppercase;
  font-family: $font__buttons;
    --tmp-size: var(--theme--font__size__button, var(--theme--font__size__heading, var(--theme--font__size)));
  font-size:  calc(var(--tmp-size) / #{$text-scale-ratio});
  letter-spacing: $font__letter-spacing-button;
  line-height: $font__line-height-button;
  font-weight: bold;
  border-radius: var(--button-radius, 0);
  box-shadow: var(--button-box-shadow, 0 0.5rem 1rem rgb(0 0 0 / 15%));
  min-width: 100px;
}

.wp-block-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: var(--button-wrap, wrap);
  column-gap: .5em;
  justify-content: center;
  margin-left: -.75rem;
  margin-right: -.75rem;  
  margin-bottom: -1em;
  
  @include media-breakpoint-down(lg) {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap !important;
  }
}

.wp-block-button {
  margin-left: var(--button-margin-left, .75rem);
  margin-right: var(--button-margin-right, .75rem);
  margin-bottom: 1em;

  @include media-breakpoint-down(lg) {
    margin-left: auto;
    margin-right: auto;
  }
}  

a.wp-block-button__link {
  @extend .btn;
  @extend .btn-secondary;

  padding-left: 0;
  padding-right: 0;
  
  background-color: var(--button-color);
  border-color: var(--button-border-color, var(--button-color));
  border-width: var(--button-border-width, 1px);
  
  color: var(--button-text-color);
  width: var(--button-width, auto);
  min-width: var(--button-width, 100px);  

  &:hover {
    background-color: var(--button-color__hover);
    border-color: var(--button-border-color__hover, var(--button-color__hover));
    color: var(--button-text-color__hover);
  }
}
    
.btn-tertiary {
  font-size: 1em;
  padding: ($input-btn-padding-y / 2) ($input-btn-padding-x / 2);
  background-color: $color__brand_tertiary;
  width: 100%;
}

