select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}

.form-wrapper {

  width: 100%;
  max-width: 450px;

  form {
    text-align: left;

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
      @extend .form-control;
      border-radius: var(--button-radius, 0);
    }

    input[type=submit] {
      @extend .btn;
      @extend .btn-secondary;
      @extend .w-100;

      height: calc(3.5rem + 2px);
      padding: 1rem 1.5rem;
      
      background-color: var(--button-color);
      border-color: var(--button-color);
      color: var(--button-text-color);

      transition: all .3s ease;
      
      &:hover {
        font-size: 1.05rem;
      }
    }

  }  
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
