select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}

.form-wrapper {

  width: 100%;
  max-width: 450px;
  margin-bottom: -1rem;

  form {
    text-align: left;
    color: var(--form-field-text-color, black);

    .form-check {
      color: var(--form-transparent-field-text-color, inherit);
    }
    
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
      @extend .form-control;

      background-color: var(--form-field-color, white);
      border-color: var(--form-field-border-color, transparent);
      border-bottom-width: var(--form-field-border-width--bottom, var(--form-field-border-width, 1px));
      border-top-width: var(--form-field-border-width--top, var(--form-field-border-width, 1px));
      border-left-width: var(--form-field-border-width--left, var(--form-field-border-width, 1px));
      border-right-width: var(--form-field-border-width--right, var(--form-field-border-width, 1px));
      border-radius: var(--form-field-radius, var(--button-radius, 0));
    }

    input[type=submit] {
      @extend .btn;
      @extend .btn-secondary;
      @extend .w-100;

      background-color: var(--form-button-color, var(--button-color));
      border-color: var(--form-button-color, var(--button-border-color, var(--button-color)));
      color: var(--form-button-text-color, var(--button-text-color));
      border-width: var(--button-border-width, 1px);
      transition: all .3s ease;

      &:hover {
        background-color: var(--form-button-color__hover, var(--button-color__hover));
        border-color: var(--form-button-color__hover, var(--button-border-color__hover, var(--button-color__hover)));
        color: var(--form-button-text-color__hover, var(--button-text-color__hover));
      }
    }

  }

  @include media-breakpoint-down(lg) {
    .row {
      margin-left: auto !important;
      margin-right: auto !important;

      &.mb-3 {
        margin-bottom: 0 !important;

        .col {
          margin-bottom: 1rem !important;
        }
      }
      
      .col {
        flex-basis: 100% !important;
      }
    }
    
  }
}

.form-floating > input[type=submit] {
  height: calc(3.5rem + 2px);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

